.custom-cursor {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  opacity: 0;
  transition: opacity var(--transition-fast);
  width: 14px;
  height: 16px;
  transform: translate(-2px, -2px);
}

body:hover .custom-cursor {
  opacity: 1;
}

@media (max-width: 1023px) {
  .custom-cursor {
    display: none;
  }
}
